export(gads_auth)
export(gads_set_login_customer_id)
export(gads_set_customer_id)
export(gads_get_accessible_customers)
export(gads_customer)
export(gads_get_account_hierarchy)
export(gads_get_report)
export(gads_last_request_ids)

# import
import(dplyr)
import(tidyr)
import(stringr)
import(purrr)

# import functions
importFrom(rlang,"%||%")
importFrom(httr, GET, POST, content, add_headers)
importFrom(jsonlite, toJSON, fromJSON)
importFrom(snakecase, to_snake_case, to_any_case)
importFrom(cli, cli_alert_info, cli_alert_success, cli_alert_danger, cli_alert_warning)
importFrom(pbapply, pblapply)

